.dauikit-button {
  --transition-duration: 0.3s;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all var(--transition-duration) ease-in-out;
  color: black;
  font-weight: bold;
  font-size: 1.2em;

  &:not([disabled]):hover {
    background-color: gray;
    border-color: darkblue;
  }

  &[disabled] {
    background-color: lightgray;
    border-color: gray;
    color: gray;
    cursor: not-allowed;
  }
}
