.dauikit-card {
  display: flex;
  flex-direction: column;
  background-color: gray;
  color: white;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  width: 100%;
  padding: calc(1.5rem - 1px);
  border-radius: 0.5rem;

  & > header {
    margin: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;

    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
      margin: 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    list-style-position: inside;
    list-style-type: none;

    li {
      margin-bottom: 1rem;
    }

    li:before {
      content: "👍";
      margin-right: 0.5rem;
    }
  }

  p:not(:last-child) {
    margin-bottom: 1rem;
  }
}
