.dauikit-accordion-digi {
  .accordion-item:not(:first-of-type),
  astro-island:not(:first-of-type) > .accordion-item {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .accordion-item:not(:last-of-type),
  astro-island:not(:last-of-type) > .accordion-item {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .accordion-item {
    --border-color: gray;
    --border-width: 1px;
    --transition-time: 0.5s;

    border: var(--border-width) solid var(--border-color);

    border-radius: 0.5rem;
    overflow: hidden;

    & > header {
      color: black;
      background: white;
      overflow: hidden;
      margin: 0;
      padding: 0.75rem 0.5rem;
      border-bottom: 0;
      cursor: pointer;
      user-select: none;
      display: flex;
      align-items: center;

      .title,
      .control {
        font-weight: bold;
        display: flex;
        align-items: center;
      }

      .control {
        height: 1em;
        justify-content: center;
        width: 2.5rem;
        padding: 0;
      }

      .title {
        width: calc(100% - 3rem);
        line-height: 1.5;
      }

      @media (width < 500px) {
        padding: 0.25rem 0rem;

        .title {
          line-height: 1.25;
        }
      }
    }

    &.opening,
    &.closing {
      & > section {
        transition: height var(--transition-time) ease;
      }
    }

    & > section {
      overflow: hidden;

      > hr {
        border-top: var(--border-width) solid var(--border-color);
        margin: 0;
      }

      & > article {
        padding: 1rem;

        @media (width < 500px) {
          padding: 1rem;
        }
      }
    }

    &.open:not(.closing) {
      header {
        background-color: lightgray;
      }

      .title,
      .control {
        font-weight: bold;
      }
    }

    &.open:not(.closing):not(.disabled) {
      & > header:hover {
        background-color: gray;
      }
    }

    &.disabled {
      .title,
      .control {
        font-weight: normal;
        color: gray;
      }

      & > header {
        cursor: auto;
      }
    }
  }
}
