.dauikit-navbardigi .hamburger {
  display: none;
  --diameter: 51.78px;

  @media (width < 900px) {
    display: flex;
    position: fixed;
    top: var(--padding-y);
    left: calc(100vw - (var(--padding-x) + var(--diameter)));
    height: var(--diameter);
    width: var(--diameter);
  }

  .shape {
    --padding: calc(var(--diameter) * 0.25);
    --diameter-inner: calc(var(--diameter) - var(--padding) * 2);

    --color-hover-closed-nonscrolled: var(--color-hover);
    --color-hover-closed-scrolled: var(--color-hover);
    --color-normal-open: var(--color-dark);
    --color-hover-open: var(--color-light);

    --background-color-normal-closed-nonscrolled: var(
      --background-color-nonscrolled
    );
    --background-color-hover-closed-nonscrolled: var(--background-color-hover);

    border-radius: 50%;
    height: var(--diameter);
    width: var(--diameter);
    padding: var(--padding);

    display: flex;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 12;
    background-color: var(--background-color);

    &:hover {
      --color: var(--color-hover-closed-nonscrolled);
    }

    .menu-button-container {
      display: flex;
      cursor: pointer;
      padding: calc(var(--diameter) / 2);
      margin-left: calc(-1 * var(--diameter) / 4);
      width: 0;
      height: 0;
      justify-content: center;
      align-items: center;
    }

    #menu-toggle {
      display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
      display: block;
      background-color: var(--color);
      position: absolute;
      height: 4px;
      width: var(--diameter-inner);
      transition:
        transform 400ms cubic-bezier(0.23, 1, 0.32, 1),
        background-color 0.1s;
      border-radius: 2px;
    }

    .menu-button::before {
      content: "";
      margin-top: -8px;
    }

    .menu-button::after {
      content: "";
      margin-top: 8px;
    }

    #menu-toggle:checked + .menu-button-container .menu-button::before {
      margin-top: 0px;
      transform: rotate(405deg);
    }

    #menu-toggle:checked + .menu-button-container .menu-button {
      background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked + .menu-button-container .menu-button::after {
      margin-top: 0px;
      transform: rotate(-405deg);
    }

    &:has(#menu-toggle:checked) {
      --color: var(--color-normal-open);

      &:hover {
        --color: var(--color-hover-open);
      }
    }
  }

  .black-screen {
    --alpha: 0.5;
    --transition-duration: 0.1s;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    transition: background-color var(--transition-duration);
    -webkit-transition: background-color var(--transition-duration);
    background-color: none;
    z-index: 10;
  }

  .shape:has(#menu-toggle:checked) {
    ~ .black-screen {
      width: 100vw;
      background-color: rgba(0, 0, 0, var(--alpha));
    }

    --background-color: transparent;
  }
}

*:has(> .hamburger) {
  &:not(.scrolled) {
    .hamburger .shape:not(:has(#menu-toggle:checked)) {
      &:hover {
        --background-color: var(--background-color-hover-closed-nonscrolled);
      }
    }
  }

  .scrolled {
    .hamburger .shape {
      --color: var(--color);

      &:hover {
        --color: var(--color-hover-closed-scrolled);
      }
    }
  }
}
