@value hamburgernavdigi, shape from "./Navbar-hamburger.module.css";
@value main from "./MainNav.module.css";

.dauikit-navbardigi,
.dauikit-navbardigi :is(a, span) {
  -webkit-transition:
    background-color var(--transition-color-duration),
    color var(--transition-color-duration);
  transition:
    background-color var(--transition-color-duration),
    color var(--transition-color-duration);
}

.dauikit-navbardigi {
  --height: 90.78px;
  --width: 100vw;
  --navbar-width: var(--width);
  --height-inner: 52.78px;
  --padding-y: calc((var(--height) - var(--height-inner)) / 2);
  --padding-x: calc(var(--width) * (6 / 100));
  --width-inner: calc(var(--width) - 2 * var(--padding-x));
  --background-color: transparent;

  --transition-color-duration: 0.2s;
  --transition-position-duration: 0.3s;

  --color-light: var(--color-white, white);
  --color-dark: var(--color-black, black);

  --color: var(--color-light);

  :global(.shape),
  :global(.main) {
    --color-hover: hsl(210, 100%, 50%);
    --background-color-hover: var(--color-light);
    --background-color: rgba(0, 0, 0, 0.4);
  }

  :global(.main) {
    --background-color-active: rgba(255, 255, 255, 0.8);
  }

  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: var(--width);
  height: var(--height);
  padding: var(--padding-y) var(--padding-x);
  box-sizing: border-box;

  display: flex;
  gap: 2rem;
  align-items: start;
  justify-content: right;
  &:has(> :first-child:not(.nav)) {
    /* has logo */
    justify-content: space-between;
  }

  color: var(--color);
  background-color: var(--background-color);

  &.scrolled {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.33);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.33);

    --color: var(--color-dark);
    --background-color: var(--color-light);
  }

  .logo-box {
    height: var(--height-inner);
    top: var(--padding-y);
  }

  :global(.main) {
    @media (width < 900px) {
      display: none;
    }
  }

  :global(.hamburgernavdigi) {
    @media (width >= 900px) {
      display: none;
    }
  }

  &.scrolled {
    :global(.main) > ul,
    :global(.shape) {
      --background-color: transparent;
    }

    :global(.shape):not(:has(input:checked)) {
      --color: var(--color-dark);

      &:hover {
        --color: var(--color-hover-closed-scrolled);
      }
    }
  }
}
